<!DOCTYPE html>
<html>
<head>
    <title></title>
    
    <link href="https://fonts.googleapis.com/css2?family=Caveat:wght@700&family=Fredericka+the+Great&family=Shadows+Into+Light&display=swap" rel="stylesheet">
	<script src="https://kit.fontawesome.com/f8792934ef.js" crossorigin="anonymous"></script>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
	<link href="https://fonts.googleapis.com/css2?family=Overlock+SC&family=Tangerine:wght@700&display=swap" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css2?family=Nothing+You+Could+Do&display=swap" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-2.2.4.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=" crossorigin="anonymous"></script>
    <style>
        body{/*padding-top: 80px;*/
	background: url(https://images.unsplash.com/photo-1518674660708-0e2c0473e68e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1267&q=80);
	background-attachment:  fixed;
	-webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  /*filter: blur(8px);
  -webkit-filter: blur(8px);*/


	
}

.btn{
    width : 100%;
}
input{ padding-left: 10px;
    width: 100%;
    
}
#storyspace{
    height: 100px;
}
.text{
  width: 100%;
  border-radius: 10px;
  border: 1px #ccc solid;
  opacity: 0.8;
}

textarea:focus {  border: 1px solid #00bafa;
outline : none;
}










input[type="text"] {
    box-sizing: border-box;
    width: 100%;
    height: calc(3em + 2px);
    margin: 0 0 1em;
    padding: 1em;
    border: 1px solid #ccc;
    border-radius: 1.5em;
    background: #fff;
    resize: none;
    outline: none;
  }
  input[type="text"][required]:focus {
    border-color: #00bafa;
  }
  input[type="text"][required]:focus + label[placeholder]:before {
    color: #00bafa;
  }
  input[type="text"][required]:focus + label[placeholder]:before,
  input[type="text"][required]:valid + label[placeholder]:before {
    -webkit-transition-duration: 0.2s;
            transition-duration: 0.2s;
    -webkit-transform: translate(0, -1.5em) scale(0.9, 0.9);
            transform: translate(0, -1.5em) scale(0.9, 0.9);
  }
  input[type="text"][required]:invalid + label[placeholder][alt]:before {
    content: attr(alt);
  }
  input[type="text"][required] + label[placeholder] {
    display: block;
    pointer-events: none;
    line-height: 1.25em;
    margin-top: calc(-3em - 2px);
    margin-bottom: calc((3em - 1em) + 2px);
  }
  input[type="text"][required] + label[placeholder]:before {
    content: attr(placeholder);
    display: inline-block;
    margin: 0 calc(1em + 2px);
    padding: 0 2px;
    color: #898989;
    white-space: nowrap;
    -webkit-transition: 0.3s ease-in-out;
    transition: 0.3s ease-in-out;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#fff));
    background-image: linear-gradient(to bottom, #fff, #fff);
    background-size: 100% 5px;
    background-repeat: no-repeat;
    background-position: center;
  }
  html {
    height: 100%;
  }
  body {
    display: -webkit-box;
    display: flex;
    -webkit-box-align: center;
            align-items: center;
    -webkit-box-pack: center;
            justify-content: center;
    height: 100%;
  }
  






  
    </style>
   
</head>
<body>
    <div class="container"> 
        <div class="jumbotron bg-transparent text-center"><h1>EDIT STORY:</h1></div>
        
        <div style="width: 50%; margin: 0px auto;">
        <div class="form-group">
           
            <form method="POST" action="/mystories/<%= story._id %>?_method=PUT">
                <input value="<%= story.name %>" name="story[name]" required='' type='text'>
                <label alt='YOUR GOOD NAME' placeholder="YOUR GOOD NAME" ></label>
                <input value="<%= story.title %>" name="story[title]" required='' type='text'>
                <label  alt='STORY TITLE' placeholder='STORY TITLE'></label>
                <input value="<%= story.image %>" name="story[image]" required='' type='text'>
                <label  alt='IMAGE URL' placeholder='IMAGE URL'></label>
               <textarea required='' class="text" name="story[story]" id="" cols="30" rows="10" placeholder="YOUR STORY" style="padding-left: 20px; "><%= story.story %></textarea>
                <label alt='YOUR STORY' required placeholder='YOUR STORY'></label>
                <input type="submit" class="rounded-pill btn btn-primary" name="" id="">
              </form>
        </form>
    
    </div>
</div>
    
</body>
</html>