<!DOCTYPE html>
<html>
<head>
	<title>stories</title>
	<link rel="stylesheet"  type="text/css" href="stories.css">
	<link href="https://fonts.googleapis.com/css2?family=Caveat:wght@700&family=Fredericka+the+Great&family=Shadows+Into+Light&display=swap" rel="stylesheet">
	<script src="https://kit.fontawesome.com/f8792934ef.js" crossorigin="anonymous"></script>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">

  <link href="https://fonts.googleapis.com/css2?family=Overlock+SC&family=Tangerine:wght@700&display=swap" rel="stylesheet">
 <style>
   .pink{
	color:#ff1476;
	transition: all 0.3s;
}
.pink:hover{
	color: #eaf;
}
.solid-navbar{
  background-color :#18e9e3;
  opacity: 0.85;
  transition:all 0.6s;
}
.btn-info{ 
   color : black;
  background-color: #18e9e3;
}
.navbar-toggler-icon{
color: white;

	}
  .name{
	color: rgb(193, 38, 201);
	margin-left: 10px;
}
.is{
	color: rgb(193, 38, 201);
	font-size: 30px;
	margin-left: 10px;
}
.is:hover{
color: white;
transition: all 0.3s;

}
.fixed{
  -webkit-box-shadow: 2px 3px 10px 0px rgba(0,0,0,1) , 1px 2px 10px 0px white;
-moz-box-shadow: 2px 3px 10px 0px rgba(0,0,0,1);
box-shadow: 2px 3px 10px 0px rgba(0,0,0,1);
}
 </style>
</head>
<body>	
  <div class="navbar ">
  <nav class="navbar navbar-expand-md  fixed-top mb-5 ">
      <a class="navbar-brand" href="#"><i class="fas fa-lock is"></i><b class="name">MEMORY LOCKER</b></a>
         <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="   Toggle navigation">
             <span class="navbar-toggler-icon"> <i class="fas fa-align-center is"></i>
             </span>
         </button>

             <div class="collapse navbar-collapse" id="navbarSupportedContent">
               <ul class="navbar-nav mr-auto">
                 <li class="nav-item active">
                   <a class="nav-link pink" href="/">Home <span class="sr-only">(current)</span></a>
                 </li>
                 <li class="nav-item">
                    <a class="nav-link pink" href="/">About Me</a>
                 </li>
 
                 
                 </ul>
<!-- sinup and sin in  -->
                 <!-- <span class="navbar-text pr-3 pink" style="font-family: default;">
                  <% if(!user){ %>
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                      <ul class="navbar-nav mr-auto">
                        <li class="nav-item active">
                          <a  class="nav-link pink" href="/signup" style="display: inline;">SIGN UP</a><i style="font-size: 20px;" class="fas fa-user-plus is"></i>
                        </li>
                        <li class="nav-item">
                          <a  class="nav-link pink" href="/login" style="display: inline;">LOG IN</a><i style="font-size: 20px;" class="fas fa-user is"></i>
                        </li>
        
                        
                        </ul>
                    
                   
                 
                
            
                  <% } else{ %>
                    
                    <h5 style="display: inline;"><a  class="nav-link pink" href="/logout" style="display: inline;">LOG OUT</a></h5><i class="fas fa-sign-out-alt is"></i>
                  <% } %>
                   
                 </span> -->
                   <!-- <li class="nav-item dropdown pb-2 pr-5 d-none d-lg-block ">
                        <a  class="nav-link " href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="fas fa-align-justify pink"></i>
                        </a>
                        <div class="dropdown-menu bg-transparent border-none" aria-labelledby="navbarDropdown">
                           <a style="color: #ff1476;"class="dropdown-item" href="#">Action</a>
                           <a style="color: #ff1476;" class="dropdown-item" href="#">Another action</a> -->
     <!--  <div class="dropdown-divider"></div>
      <a class="dropdown-item" href="#">Something else here</a> -->
                       <!-- </div>
                    </li> -->


                </div>
            </nav>
</div>
<!-- navbar ends -->



  <div class="container">
  <div class="row" style="padding-top: 200px;">
   
    <div class="col-md-11 well">
      <div class="jumbotron bg-transparent pink"><h1 class="mb-5" style=" letter-spacing: 4px;" id="reflect"><i style="  color: rgb(193, 38, 201); opacity: 0.80; font-size: 2em;"class="fas fa-book mr-4"></i>BLOGS</h1>
        <h1 class="h" style="font-size: 41px; margin-top: 180px; color : #18e9e3" class="pt-5"><b class="comma">“</b>Stories have to be told or they die, and when they die, we can't remember who we are or why we're here.<b  class="comma">”</b></h1>
        
      </div>
      
   
      <div class="jumbotron bg-transparent ">	<h1  style=" margin-top: 100px; letter-spacing: 4px; color: rgb(193, 38, 201);" id="reflect">OUR MEMORIES</h1></div>
      
  
  <div class="row">
       <% for(var i =0; i<stories.length ; i++){ %> 
         <div class="col-md-12 text-left">
        <div class="card mb-3 " style="width: 80%; margin: 0px auto; opacity: 0.8;">
          <div class="row no-gutters">
            <div class="col-md-4">
              <img src=" <%= stories[i].image %> " class="card-img" alt="..." style="width: 100%; height: 100%;">
            </div>
            <div class="col-md-8">
              <div class="card-body">
                <h5 class="card-title" style="letter-spacing: 2px;"><%= stories[i].title.toUpperCase() %></h5>
                <p class="card-text"><%= stories[i].story.substring(0 , 50) %>...</p>
                <p><a href="/mystories/<%= stories[i]._id %>" class="btn btn-primary">Read More</a></p>
                
                <p class="card-text"><small class="text-muted " style="letter-spacing: 2px; font-weight: 500;"> - <%= stories[i].created.toDateString() %></small></p>
                <p class="card-text"><small class="text-muted " style="letter-spacing: 2px; font-weight: 500;"> - <%= stories[i].name %></small></p>
              </div>
             
            </div>
          </div>
        </div>
      </div>
  
  
  <% } %>
  </div>
  
    </div>
		
   
     
    
    <div class="col-md-1" >
     
      <div class="card mb-5 mt-5 position-fixed fixed" style="width: 18rem; background-color: #D4D4D4; ">
        <div class="card-body">
          <h5 class="card-title" style="text-align: center;"> <b><span style="font-family: 'Cutive Mono', monospace; ">ADD BLOG</span></b></h5>
         
          <p class="card-text" style="font-family: 'Gentium Basic', serif;">
            Click the button below to add your blog and save your memory forever.
            <a  href="/addstory" class="btn btn-info mt-2" style="width: 100%;">BLOG<i class="fas fa-plus ml-1"></i></a>
          </p>
         
        </div>
        
      </div>







  </div>
</div>
</div> 
		



















<!-- JAVA SCIPT AND J QUERY SOURCES -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
<script type="text/javascript" src="our_talks.js"></script>
</body>
</html>